includeConfig "$baseDir/params.config"

env {
  PYTHONNOUSERSITE = 1
}

process {
  memory='2G'
  cache='lenient'
  container = 'biocorecrg/debian-perlbrew-pyenv3-java'
  withLabel: big_mem_cpus {
        time = '6h'
        cpus = 2
        memory = '6G'
  }
}


singularity.cacheDir = "$baseDir/singularity"
//singularity.enabled = true
